# Dropbox / LeanPub
.dropbox
/source/convert_html/
/source/preview/
/source/published/
/output/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
